<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="css/style.css">
  <body>

    <h1> Friends Match </h1>

    <form method="post" action="/game">
      <p>Enter a character from "Friends" (either Monica, Rachel, Phoebe, Chandler, Joey, or Ross) </p>
      <input type="text" name="userGuess">
      <button type="submit">Submit</button>
    </form>
    
  </body>
</html>